<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.html" />
            </files>
        </defaultDocument>
        <directoryBrowse enabled="false" />
        <httpErrors errorMode="DetailedLocalOnly" existingResponse="PassThrough" />
        <rewrite>
            <rules>
                <clear />
                <rule name="Canonical URL" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="index.html" />
                    <action type="Redirect" url="https://www.perfectio.it/" />
                </rule>
                <rule name="Missing www" patternSyntax="Wildcard" stopProcessing="true">
                    <match url="*" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="www.perfectio.it" negate="true" />
                    </conditions>
                    <action type="Redirect" url="https://www.perfectio.it{REQUEST_URI}" />
                </rule>
                <rule name="Redirect to HTTPS" patternSyntax="Wildcard" stopProcessing="true">
                    <match url="*" />
                    <conditions>
                        <add input="{HTTPS}" pattern="off" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Found" />
                </rule>
            </rules>
        </rewrite>
        <urlCompression doStaticCompression="true" />
    </system.webServer>
</configuration>
