@breakpoints:
{
    320px: rem(320px);
    660px: rem(660px);
    840px: rem(840px);
    1180px: rem(1180px);
}

@spacings:
{
    tiny: rem(4px);
    small: rem(8px);
    normal: rem(16px);
    big: rem(32px);
}

/* ~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~ */

@text-font-size: rem(16px);
@text-line-height: rem(28px);
@clients-entry-height: 100px;
@clients-entry-width: 150px;

@projects-icon: escape(~'<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="@{leading-color}" d="M7 13h10v1h-10v-1zm15-11v22h-20v-22h3c1.229 0 2.18-1.084 3-2h8c.82.916 1.771 2 3 2h3zm-11 1c0 .552.448 1 1 1s1-.448 1-1-.448-1-1-1-1 .448-1 1zm9 15.135c-1.073 1.355-2.448 2.763-3.824 3.865h3.824v-3.865zm0-14.135h-4l-2 2h-3.898l-2.102-2h-4v18h7.362c4.156 0 2.638-6 2.638-6s6 1.65 6-2.457v-9.543zm-13 12h5v-1h-5v1zm0-4h10v-1h-10v1zm0-2h10v-1h-10v1z"/></svg>');
//<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill-rule="evenodd"><path fill="@{leading-color}" d="M13.403 24h-13.403v-22h3c1.231 0 2.181-1.084 3-2h8c.821.916 1.772 2 3 2h3v9.15c-.485-.098-.987-.15-1.5-.15l-.5.016v-7.016h-4l-2 2h-3.897l-2.103-2h-4v18h9.866c.397.751.919 1.427 1.537 2zm5.097-11c3.035 0 5.5 2.464 5.5 5.5s-2.465 5.5-5.5 5.5c-3.036 0-5.5-2.464-5.5-5.5s2.464-5.5 5.5-5.5zm0 2c1.931 0 3.5 1.568 3.5 3.5s-1.569 3.5-3.5 3.5c-1.932 0-3.5-1.568-3.5-3.5s1.568-3.5 3.5-3.5zm2.5 4h-3v-3h1v2h2v1zm-15.151-4.052l-1.049-.984-.8.823 1.864 1.776 3.136-3.192-.815-.808-2.336 2.385zm6.151 1.052h-2v-1h2v1zm2-2h-4v-1h4v1zm-8.151-4.025l-1.049-.983-.8.823 1.864 1.776 3.136-3.192-.815-.808-2.336 2.384zm8.151 1.025h-4v-1h4v1zm0-2h-4v-1h4v1zm-5-6c0 .552.449 1 1 1 .553 0 1-.448 1-1s-.447-1-1-1c-.551 0-1 .448-1 1z" /></svg>');
@testimonials-icon: escape(~'<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="@{leading-color}" d="M2 9.352c0 1.873.849 2.943 1.683 3.943.031 1 .085 1.668-.333 3.183 1.748-.558 2.038-.778 3.008-1.374 1 .244 1.474.381 2.611.491-.094.708-.081 1.275.055 2.023-.752-.06-1.528-.178-2.33-.374-1.397.857-4.481 1.725-6.649 2.115.811-1.595 1.708-3.785 1.661-5.312-1.091-1.305-1.706-2.985-1.706-4.695 0-4.826 4.719-8.352 10-8.352 5.237 0 9.977 3.484 9.998 8.318-.644-.175-1.322-.277-2.021-.314-.229-3.34-3.713-6.004-7.977-6.004-4.411 0-8 2.85-8 6.352zm20.883 10.169c-.029 1.001.558 2.435 1.088 3.479-1.419-.258-3.438-.824-4.352-1.385-.772.188-1.514.274-2.213.274-3.865 0-6.498-2.643-6.498-5.442 0-3.174 3.11-5.467 6.546-5.467 3.457 0 6.546 2.309 6.546 5.467 0 1.12-.403 2.221-1.117 3.074zm-5.664-4.521h-2.219v2.222h.889c0 .491-.347 1.096-.887 1.3l.221.478c1.167-.231 1.996-1.09 1.996-2.358v-1.642zm3.115 0h-2.219v2.222h.885c0 .491-.348 1.096-.888 1.3l.222.478c1.167-.231 2-1.09 2-2.358v-1.642zm-7.561-4v-2.777h-1.111c0-.615.434-1.371 1.108-1.625l-.275-.598c-1.459.289-2.495 1.363-2.495 2.948v2.052h2.773zm-4 0v-2.777h-1.105c0-.615.435-1.371 1.109-1.625l-.277-.598c-1.458.289-2.5 1.363-2.5 2.948v2.052h2.773z" /></svg>');
@testimonials-bubble-color: rgb(250, 250, 250);

/* ~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~ */

.layout-grid(@columns)
{
    display: grid;
    grid-column-gap: @spacings[normal];
    grid-template-columns: repeat(@columns, 1fr);
}

.svg(@fill-color, @icon-size)
{
    display: block;
    fill: @fill-color;
    height: @icon-size;
    width: @icon-size;
}
