@breakpoints:
{
    320px: rem(320px);
    660px: rem(660px);
    840px: rem(840px);
    1180px: rem(1180px);
}

@spacings:
{
    tiny: rem(4px);
    small: rem(8px);
    normal: rem(16px);
    big: rem(32px);
}

/* ~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~ */

@text-font-size: rem(16px);
@text-line-height: rem(28px);

/* ~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~ */

.layout-grid(@columns)
{
    display: grid;
    grid-column-gap: @spacings[normal];
    grid-template-columns: repeat(@columns, 1fr);
}

.svg(@fill-color, @icon-size)
{
    display: block;
    fill: @fill-color;
    height: @icon-size;
    width: @icon-size;
}
