@text-color: rgb(50, 50, 50);
@leading-color: rgb(40, 120, 20);
@background-color: rgb(240, 240, 240);

@page-horizontal-margin: 10px;
@page-desktop-width: 940px;

@testimonials-icon-size: 48px;
@testimonials-icon-horizontal-padding: 10px;
@testimonials-bubble-color: lighten(@background-color, 5%);

@footer-text-color: darken(@background-color, 25%);
@footer-leading-color: rgb(140, 190, 90);
@footer-background-color: @text-color;

.svg(@fill-color, @icon-size)
{
    display: block;
    fill: @fill-color;
    height: @icon-size;
    width: @icon-size;
}
