@footer-background-color-1: rgb(40, 40, 40);
@footer-background-color-2: darken(@footer-background-color-1, 5%);
@footer-icon-color: lighten(@footer-background-color-1, 15%);
@footer-leading-color:  lighten(@leading-color, 20%);
@footer-text-color-1: rgb(150, 150, 150);
@footer-text-color-2: lighten(@footer-text-color-1, 20%);
@footer-text-color-3: lighten(@footer-text-color-2, 20%);

@footer-header-font-size: 1.25rem;
@footer-header-line-height: 1.5rem;
@footer-copyright-text-font-size: 0.875rem;
@footer-copyright-text-line-height: 1.5rem;

.media(@media) when (@media = @breakpoints[320])
{
    footer
    {
        background-color: @footer-background-color-1;
        color: @footer-text-color-1;
        text-align: center;

        a
        {
            color: @footer-text-color-1;
            position: relative;
            text-decoration: none;
            transition: color 0.25s ease-in-out;

            &:focus,
            &:hover
            {
                color: @footer-text-color-3;

                &::after
                {
                    width: 100%;
                }
            }

            &::after
            {
                background-color: currentColor;
                bottom: -1px;
                content: '';
                display: block;
                height: 1px;
                left: 0;
                position: absolute;
                transition: width 0.25s ease-in-out;
                width: 0;
            }
        }

        strong
        {
            color: @footer-leading-color;
        }
    }

    #contact
    {
        grid-row-gap: @spacings[big];
        justify-items: center;

        div
        {
            grid-column: span 12;
        }

        h3
        {
            color: @footer-text-color-2;
            font-size: @footer-header-font-size;
            font-weight: 400;
            line-height: @footer-header-line-height;
            margin-bottom: @spacings[normal];
        }

        .contact-details 
        {
            li
            {
                align-items: center;
                display: flex;
                justify-content: center;
            }

            svg
            {
                .svg(@footer-leading-color, @font-size);

                margin-right: @spacings[small];
            }
        }

        .social-media
        {
            a
            {
                display: block;
                padding: @spacings[tiny];
                transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;

                &:focus,
                &:hover
                {
                    background-color: @footer-icon-color;
                }
            }

            li + li
            {
                margin-left: @spacings[small];
            }

            svg
            {
                .svg(currentColor, @line-height - 2 * @spacings[tiny]);
            }

            ul
            {
                display: flex;
            }
        }
    }

    #copyright
    {
        background-color: @footer-background-color-2;
        font-size: @footer-copyright-text-font-size;
        line-height: @footer-copyright-text-line-height;

        a
        {
            color: @footer-text-color-2;

            &:focus,
            &:hover
            {
                color: @footer-text-color-3;
            }
        }

        p
        {
            grid-column: span 12;

            &:last-child
            {
                height: @footer-copyright-text-line-height;
                margin-top: 0;
                overflow: hidden;
            }
        }

        span
        {
            white-space: nowrap;
        }

        .container
        {
            padding: @spacings[small];
        }

        .separator
        {
            padding: 0 @spacings[tiny];
        }
    }
}

.media(@media) when (@media = @breakpoints[840])
{
    #contact
    {
        justify-items: start;
        text-align: left;

        div
        {
            grid-column: span 4;
        }

        .contact-details li
        {
            justify-content: flex-start;
        }
    }

    #copyright p
    {
        &:first-child
        {
            grid-column: span 4;
            text-align: right;
        }

        &:last-child
        {
            grid-column: span 8;
            order: -1;
            text-align: left;
        }
    }
}
