@page-horizontal-margin: @spacings[small];

@background-color-2: rgb(230, 230, 230);

.media(@breakpoint) when (@breakpoint = @breakpoints[320px])
{
    #legacy
    {
        cite
        {
            font-style: italic;
        }

        .container
        {
            display: block;
        }

        *:focus
        {
            outline: 2px dotted @leading-color;
            outline-offset: 2px;
        }

        b
        {
            color: @leading-color;
            font-weight: 400;
        }

        h2
        {
            font-size: 48px;
            line-height: 72px;
        }

        h2,
        h3
        {
            color: @leading-color;
            font-family: 'Oswald', sans-serif;
            font-weight: 200;
            letter-spacing: 1px;
            margin-bottom: 20px;
            text-align: center;
        }
    }

    /* ~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~ */

    #about
    {
        padding: 20px @page-horizontal-margin;
    }

    /* ~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~ */

    #projects
    {
        background-color: @background-color-2;

        .container
        {
            padding: 20px @page-horizontal-margin;
        }

        .links
        {
            display: flex;
            justify-content: center;
            margin-top: 20px;

            a
            {
                background-color: @leading-color;
                border: 1px solid @leading-color;
                border-radius: 5px;
                color: @background-color-2;
                margin: 0 5px;
                padding: 4px 9px;
                text-decoration: none;
                transition: background-color 0.5s ease, color 0.5s ease;

                &:focus,
                &:hover
                {
                    color: @leading-color;
                    background-color: @background-color-2;
                }
            }
        }

        .project
        {
            display: flex;
            flex-direction: column;
            margin: 20px 5px 0 5px;
            width: 290px;
        }

        .technologies
        {
            background-size: contain;
            display: flex;
            flex-direction: column-reverse;
            height: 200px;
            order: -1;

            &.perfectio
            {
                background-image: url('assets/perfectio.jpg');
            }

            li
            {
                background-color: @text-color;
                border-radius: 5px;
                color: @background-color-2;
                font-size: 12px;
                line-height: 14px;
                margin: 1px;
                padding: 2px 4px;
            }

            ul
            {
                flex-wrap: wrap-reverse;
                margin-bottom: 10px;
            }
        }

        h3
        {
            font-size: 24px;
            line-height: 36px;
            margin: 10px 0 20px 0;
        }

        ul
        {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
    }
}
