@media only screen
{
    @text-color: rgb(50, 50, 50);
    @leading-color: rgb(140, 190, 90);
    @background-color: rgb(240, 240, 240);

    @page-horizontal-margin: 10px;

    *
    {
        border-style: none;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .hidden
    {
        display: none;
    }

    .svg(@fill-color, @icon-size)
    {
        display: block;
        fill: @fill-color;
        height: @icon-size;
        width: @icon-size;
    }

    a
    {
        font-weight: 400;
    }

    abbr
    {
        cursor: help;
        text-decoration: none;
    }

    b
    {
        color: @leading-color;
        font-weight: 400;
    }

    body
    {
        background-color: @background-color;
        color: @text-color;
        font: normal normal 300 15px / 23px 'Roboto', sans-serif;
        letter-spacing: normal;
        text-align: justify;
        text-decoration: none;
        text-indent: 0;
        text-transform: none;
        white-space: normal;
        word-spacing: normal;
    }

    h2, h3
    {
        color: @leading-color;
        letter-spacing: 1px;
    }

    p
    {
        hyphens: auto;
    }

    /* ~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~ */

    #clients
    {
        padding: 20px @page-horizontal-margin;

        a
        {
            align-items: center;
            background: transparent none no-repeat center center;
            display: flex;
            height: 100px;
            opacity: 0.5;
            transform: scale(0.8);
            transition: opacity 0.5s ease, transform 0.5s ease;
            width: 200px;

            &:hover
            {
                opacity: 1;
                transform: scale(1);
            }
        }

        h2
        {
            font: normal normal 300 48px / 58px 'Roboto', sans-serif;
            margin-bottom: 20px;
            text-align: center;
        }

        p + p
        {
            margin-top: 10px;
        }

        ul
        {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin-top: 20px;
        }
    }

    /* ~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~ */

    @footer-text-color: darken(@background-color, 25%);
    @footer-background-color: @text-color;

    footer
    {
        background-color: @footer-background-color;
        color: @footer-text-color;
        
        a
        {
            color: lighten(@footer-text-color, 10%);
            text-decoration: none;
            transition: color 0.5s ease;

            &:hover
            {
                color: lighten(@footer-text-color, 30%);
                text-decoration: underline;
            }
        }
    }

    #contact
    {
        @space-between-sections: 20px;
        @vertical-padding: 40px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: (@vertical-padding - @space-between-sections) @page-horizontal-margin @vertical-padding @page-horizontal-margin;
        text-align: center;

        .company-info p + p
        {
            margin-top: 10px;
        }

        .contact-info li
        {
            align-items: center;
            display: flex;
            justify-content: center;

            & + li
            {
                margin-top: 5px;
            }

            svg
            {
                .svg(@leading-color, 17px);

                margin-right: 10px;
            }
        }

        .social-media ul
        {
            display: flex;
            justify-content: center;

            li + li
            {
                margin-left: 10px;
            }

            svg
            {
                .svg(currentColor, 40px);
            }
        }

        h3
        {
            font: normal normal 400 18px / 28px 'Oswald', sans-serif;
            margin: @space-between-sections 0;
        }
    }

    #copyright
    {
        background-color: darken(@footer-background-color, 10%);
        color: darken(@footer-text-color, 10%);
        text-align: center;

        .container
        {
            display: flex;
            flex-direction: column;
            padding: 5px @page-horizontal-margin;
        }
    }
}
