@media only screen
{
    *
    {
        border-style: none;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .hidden
    {
        display: none;
    }

    a
    {
        font-weight: 400;
    }

    abbr
    {
        cursor: help;
        text-decoration: none;
    }

    b
    {
        color: @leading-color;
        font-weight: 400;
    }

    body
    {
        background-color: @background-color;
        color: @text-color;
        font: normal normal 300 15px / 23px 'Roboto', sans-serif;
        letter-spacing: normal;
        text-align: justify;
        text-decoration: none;
        text-indent: 0;
        text-transform: none;
        white-space: normal;
        word-spacing: normal;
    }

    h2,
    h3
    {
        color: @leading-color;
        letter-spacing: 1px;
    }

    p
    {
        hyphens: auto;

        & + &
        {
            margin-top: 10px;
        }
    }

    /* ~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~ */

    #clients
    {
        padding: 20px @page-horizontal-margin;

        a
        {
            align-items: center;
            display: flex;
            height: 100px;
            opacity: 0.5;
            transform: scale(0.8);
            transition: opacity 0.5s ease, transform 0.5s ease;
            width: 200px;

            &:hover
            {
                opacity: 1;
                transform: scale(1);
            }
        }

        h2
        {
            font: normal normal 300 48px / 58px 'Roboto', sans-serif;
            margin-bottom: 20px;
            text-align: center;
        }

        ul
        {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin-top: 20px;
        }
    }

    /* ~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~ */

    footer
    {
        background-color: @footer-background-color;
        color: @footer-text-color;
        
        a
        {
            color: lighten(@footer-text-color, 10%);
            text-decoration: none;
            transition: color 0.5s ease;

            &:hover
            {
                color: lighten(@footer-text-color, 30%);
                text-decoration: underline;
            }
        }
    }

    #contact
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 40px @page-horizontal-margin;
        text-align: center;

        .contact-info li
        {
            align-items: center;
            display: flex;
            justify-content: center;

            & + li
            {
                margin-top: 5px;
            }

            svg
            {
                .svg(@leading-color, 17px);

                margin-right: 10px;
            }
        }

        .social-media ul
        {
            display: flex;
            justify-content: center;

            li + li
            {
                margin-left: 10px;
            }

            svg
            {
                .svg(currentColor, 40px);
            }
        }

        div + div
        {
            margin-top: 20px;            
        }

        h3
        {
            font: normal normal 400 18px / 28px 'Oswald', sans-serif;
            margin-bottom: 20px;
        }
    }

    #copyright
    {
        background-color: darken(@footer-background-color, 10%);
        color: darken(@footer-text-color, 10%);
        text-align: center;

        .container
        {
            display: flex;
            flex-direction: column;
            padding: 5px @page-horizontal-margin;
        }

        p + p
        {
            margin-top: 0;
        }
    }
}
