<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="utf-8" />
        <meta name="description" content="Strona internetowa firmy Perfectio świadczącej usługi w zakresie wytwarzania, wdrażania i rozwoju oprogramowania." />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://perfectio.it" rel="canonical" />
        <link href="https://fonts.googleapis.com/css?family=Oswald:200,400%7CRoboto:300,300i,400,400i&amp;subset=latin-ext" rel="stylesheet">
        <link href="styles.min.css" rel="stylesheet" type="text/css" />
        <link href="assets/favicon-16x16.png" rel="icon" type="image/png" sizes="16x16" />
        <link href="assets/favicon-32x32.png" rel="icon" type="image/png" sizes="32x32" />
        <title>Perfectio – Usługi informatyczne</title>
    </head>
    <body>
        <main>
            <section id="projects">
                <div class="container">
                    <h2>Projekty</h2>
                    <p>Postępująca informatyzacja sprawiła, że branża <abbr lang="en" title="Information Technology">IT</abbr> jest obecnie jedną z najszybciej rozwijających się na rynku. Obserwując ciągły rozwoj technologii, błyskawicznie zmieniające się trendy i powstawanie coraz to nowszych narzędzi, zrozumiałem, że kluczem do sukcesu jest nieustanne podnoszenie swoich kwalifikacji. Dlatego poza komercyjną współpracą z klientami, staram się również uczestniczyć w konferencjach i spotkaniach lokalnych grup oraz rozwijać w wolnym czasie własne projekty. Oto wybrane realizacje:</p>
                    <ul>
                        <li class="project">
                            <h3>Perfectio</h3>
                            <div class="technologies perfectio">
                                <p class="hidden readable">Użyte technologie:</p>
                                <ul lang="en">
                                    <li><abbr title="Hypertext Markup Language 5">HTML5</abbr></li>
                                    <li><abbr title="Cascading Style Sheets 3">CSS3</abbr></li>
                                    <li><abbr title="Leaner Style Sheets">LESS</abbr></li>
                                    <li>Gulp</li>
                                    <li><abbr title="Node.js Package Manager">NPM</abbr></li>
                                    <li>Git</li>
                                </ul>
                            </div>
                            <p>Nowoczesna strona firmowa zbudowana w oparciu o technikę <abbr lang="en" title="Responsive Web Design">RWD</abbr> z autorskim projektem graficznym. Szczególny nacisk położono na poprawną semantykę kodu i dostępność dla osób niepełnosprawnych.</p>
                            <div class="links">
                                <a href="https://www.perfectio.it">Zobacz</a>
                                <a href="https://github.com/Tholdrim/Perfectio">Kod źródłowy</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
            <section id="clients">
                <h2>Klienci</h2>
                <p>W swojej działalności stawiam na nawiązywanie długotrwałej współpracy opartej na wzajemnym zrozumieniu i zaufaniu. Jestem przekonany, że czas poświęcony na budowaniu partnerskiej relacji owocuje szerszym zrozumieniem specyfiki danego projektu oraz pełniejszym określeniem potrzeb kontrahenta, co umożliwia zaproponowanie i wdrożenie najkorzystniejszych rozwiązań. Zadowolenie moich klientów, którymi są zarówno przedsiębiorstwa krajowe, jak i zagraniczne korporacje, jest najlepszym potwierdzeniem słuszności tego podejścia.</p>
                <p>Poniżej znajdziecie Państwo listę firm, które miałem przyjemność wesprzeć swoimi umiejętnościami i doświadczeniem.</p>
                <ul>
                    <li><a href="https://www.insert.com.pl"><img src="assets/insert.png" alt="InsERT S.A." /></a></li>
                    <li><a href="https://www.intive.com"><img src="assets/intive.png" alt="intive" /></a></li>
                </ul>
                <section id="testimonials">
                    <h3>Rekomendacje</h3>
                    <div class="entry left">
                        <img src="assets/michal-czerwinski.jpg" alt="" />
                        <blockquote>
                            <p>W trakcie niemalże dwóch lat naszej wspólnej pracy Jan okazał się osobą bardzo pilną, pracowitą i skrupulatną. Był zdolny nie tylko do zaprojektowania i wykonania od zera nowych modułów aplikacji czy też bezpośredniej współpracy z osobami decyzyjnymi, ale także szybko stał się istotną częścią zespołu sprawującego opiekę nad młodszymi programistami. Mogę z czystym sumieniem polecić go wszystkim ceniącym sobie najwyższą jakość usług.</p>
                            <p><cite><b>Michał Czerwiński</b> – Wiodący ekspert ds. inżynierii oprogramowania, intive</cite></p>
                        </blockquote>
                    </div>
                    <div class="entry right">
                        <img src="assets/wojciech-kraj.jpg" alt="" />
                        <blockquote>
                            <p>Jan od początku naszej współpracy dał się poznać jako osoba wytrwała i zorientowana na cel. Dzięki swym wysokim umiejętnościom technicznym i nieszablonowemu myśleniu potrafi znaleźć rozwiązanie dla nawet najbardziej skomplikowanych problemów. Chętnie przy tym dzieli się swoim doświadczeniem i pomysłami z pozostałymi członkami zespołu, a gdy zachodzi potrzeba nie boi się też wyrazić konstruktywnej krytyki.</p>
                            <p><cite><b>Wojciech Kraj</b> – Lider zespołu inżynierów testów, InsERT&nbsp;S.A.</cite></p>
                        </blockquote>
                    </div>
                </section>
            </section>
        </main>
        <footer>
            <section id="contact">
                <h2 class="hidden readable">Kontakt</h2>
                <div class="company-info">
                    <h3>PERFECTIO Jan Walczyński</h3>
                    <p>ul. Wita Stwosza 16<br />50-148 Wrocław</p>
                    <p>NIP: 8442312373<br />REGON: 363619391</p>
                </div>
                <div class="contact-info">
                    <h3>Informacje kontaktowe</h3>
                    <ul>
                        <li><svg><title>Telefon</title><use xlink:href="#icon-phone"></use></svg><a href="tel:+48600994135">+48 600 994 135</a></li>
                        <li><svg><title>Adres e-mail</title><use xlink:href="#icon-envelope"></use></svg><a href="mailto:jan.walczynski@perfectio.it">jan.walczynski@perfectio.it</a></li>
                    </ul>
                </div>
                <div class="social-media">
                    <h3>Media społecznościowe</h3>
                    <ul>
                        <li><a href="https://www.linkedin.com/in/tholdrim" aria-label="LinkedIn"><svg><use xlink:href="#icon-linkedin"></use></svg></a></li>
                        <li><a href="https://stackoverflow.com/users/9666105/tholdrim" aria-label="Stack Overflow"><svg><use xlink:href="#icon-stackoverflow"></use></svg></a></li>
                        <li><a href="https://github.com/Tholdrim" aria-label="GitHub"><svg><use xlink:href="#icon-github"></use></svg></a></li>
                    </ul>
                </div>
            </section>
            <section id="copyright">
                <h2 class="hidden readable">Nota prawna</h2>
                <div class="container" lang="en">
                    <p>Hosted by <a href="https://www.webio.pl">Webio</a> • Valid <a href="https://validator.w3.org/check?uri=referer"><abbr title="HyperText Markup Language">HTML</abbr></a> and <a href="https://jigsaw.w3.org/css-validator/check/referer?profile=css3svg"><abbr title="Cascading Style Sheets">CSS</abbr></a></p>
                    <p>Copyright &copy; 2018-2019 <b>Perfectio</b></p>
                </div>
            </section>
        </footer>
        <svg xmlns="http://www.w3.org/2000/svg" class="hidden">
            <symbol id="icon-phone" viewBox="0 0 32 32">
                <title>Telefon</title>
                <path d="M2.126 1.188c1.278-1.281 5.141-1.495 5.17-0.817 0.029 0.677 3.479 8.191 3.509 8.869s-2.274 2.987-2.948 3.663c-0.668 0.669 4.508 6.533 4.606 6.644 0.11 0.099 5.96 5.287 6.628 4.617 0.674-0.676 2.979-2.985 3.653-2.955 0.676 0.029 8.173 3.487 8.849 3.518 0.676 0.029 0.463 3.9-0.815 5.182-1.093 1.095-6.752 5.071-16.592-2.029-1.079-0.622-2.788-2.049-5.38-4.646-0.001-0.001-0.003-0.003-0.005-0.004-0.002-0.003-0.004-0.004-0.006-0.006s-0.004-0.004-0.006-0.006c-0.001-0.002-0.003-0.004-0.004-0.005-2.59-2.598-4.014-4.312-4.635-5.393-7.083-9.864-3.116-15.537-2.024-16.632z" />
            </symbol>
            <symbol id="icon-envelope" viewBox="0 0 32 32">
                <title>E-mail</title>
                <path d="M29 4h-26c-1.657 0-3 1.343-3 3v18c0 1.656 1.343 3 3 3h26c1.657 0 3-1.344 3-3v-18c0-1.657-1.343-3-3-3zM2.741 25.99l-0.731-0.732 8.249-8.248 0.731 0.732-8.249 8.248zM29.259 25.99l-8.249-8.248 0.731-0.732 8.249 8.248-0.731 0.732zM17 19.325v0.675h-2v-0.675l-12.997-12.050 1.272-1.272 12.725 11.798 12.725-11.798 1.272 1.272-12.997 12.050z" />
            </symbol>
            <symbol id="icon-linkedin" viewBox="0 0 24 24">
                <title>LinkedIn</title>
                <path d="M20.447 20.452h-3.554v-5.569c0-1.328-.027-3.037-1.852-3.037-1.853 0-2.136 1.445-2.136 2.939v5.667H9.351V9h3.414v1.561h.046c.477-.9 1.637-1.85 3.37-1.85 3.601 0 4.267 2.37 4.267 5.455v6.286zM5.337 7.433c-1.144 0-2.063-.926-2.063-2.065 0-1.138.92-2.063 2.063-2.063 1.14 0 2.064.925 2.064 2.063 0 1.139-.925 2.065-2.064 2.065zm1.782 13.019H3.555V9h3.564v11.452zM22.225 0H1.771C.792 0 0 .774 0 1.729v20.542C0 23.227.792 24 1.771 24h20.451C23.2 24 24 23.227 24 22.271V1.729C24 .774 23.2 0 22.222 0h.003z" />
            </symbol>
            <symbol id="icon-stackoverflow" viewBox="0 0 24 24">
                <title>Stack Overflow</title>
                <path d="M18.986 21.865v-6.404h2.134V24H1.844v-8.539h2.13v6.404h15.012zM6.111 19.731H16.85v-2.137H6.111v2.137zm.259-4.852l10.48 2.189.451-2.07-10.478-2.187-.453 2.068zm1.359-5.056l9.705 4.53.903-1.95-9.706-4.53-.902 1.936v.014zm2.715-4.785l8.217 6.855 1.359-1.62-8.216-6.853-1.35 1.617-.01.001zM15.751 0l-1.746 1.294 6.405 8.604 1.746-1.294L15.749 0h.002z" />
            </symbol>
            <symbol id="icon-github" viewBox="0 0 24 24">
                <title>GitHub</title>
                <path d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12" />
            </symbol>
        </svg>
    </body>
</html>
